.connexion{

position: absolute;
  min-width: 600px;
  width: 100%;
  min-height: 200px;
  padding: 20px;
  padding-top: 100px;
  z-index: 0;
  background: url('../../assets/img/bg-connexion.jpg') no-repeat 0px 0px;
  background-size: cover;
  background-position: center;
  display: none;
}

.inscription{

  min-width: 600px;
  width: 100%;
  min-height: 200px;
  padding: 20px;
  padding-top: 100px;
  z-index: 0;

}


.formulaire{
  opacity: 0.9;
  background-color: #C6D2D8;
  padding: 20px;
}

.formulaire_inscription{
  overflow-y: auto;
  opacity: 0.9;
  background-color: #C6D2D8;
  padding: 20px;
}


.formulaire_inscription{

  opacity: 0.9;
  background-color: #C6D2D8;
  padding: 20px;
}

.link,button,h1,label,p{
  font-family: 'Averia Libre', cursive;
}

input{

  border-radius: 20px;
  padding-left: 20px;
}

label{
  font-size: 20px;
  font-weight: bolder;
}

.link{
  text-decoration: none;
  margin-left: 15px;
  font-size: 15px;
}

.connectionAttempt{
    margin-left: 1px;
  text-decoration: none;
  font-size: 15px;
}

.btn-envoie{

  border-radius: 50px;
  font-weight: bolder;
  font-size: 20px;
  background-color: white;
  min-width: 150px;
}

.btn-envoie:hover{ cursor:  pointer; border: 1px solid #97AFCA; }

.invalid{

  border: 1px solid red;
}


@media (max-width:1200px) {

  .connexion,.inscription{

    width: 100%;
    min-height: 500px;
    padding: 20px;
    padding-top: 100px;
    z-index: 0;
    background-color: #C6D2D8;
  }


}



@media (max-height:600px) {

  .connexion,.inscription{

    padding-top: 10px;

  }


}

@media (max-height:400px) {

  .connexion,.inscription{

    background: #C6D2D8;

  }


}
