<!--Partie Connexion -->
<div class="connexion" align="center" [ngStyle]="{'height.px':heightWindows}" >
  <div class="container col-lg-5 formulaire">
    <h1>Sos Partenaire</h1>
    <br><br>
    <div class="form-group row">
      <label class="col-4 col-form-label" align="left">Login</label>
      <div class="col-lg-8">
        <div class="input-group">
          <span *ngIf="logVerif == true" class="input-group-addon"><i class="fa fa-user" style="width:35px;"></i></span> <!-- Si le log n'est pas vide -->
          <span *ngIf="logVerif == false" class="input-group-addon"><i class="fa fa-exclamation-triangle" style="color:red;width:35px;"></i></span>  <!-- Si le log n'est pas vide -->
          <input  [(ngModel)] = "connexionAttempt.log"  [ngClass]="{'invalid': logVerif==false}" class="form-control" type="text"  (blur)="verifLog()">
        </div>
      </div>
      <p class="col-12 col-form-label" align="left" style="color:red;">{{logInfo}}</p>
    </div>
    <div class="form-group row">
      <label class="col-4 col-form-label" align="left">Mot de passe</label>
      <div class="col-lg-8">
        <div class="input-group">
          <span *ngIf="passwordVerif == true" class="input-group-addon"><i class="fa fa-unlock-alt" style="width:35px;"></i></span> <!-- Si le mot de passe n'est pas vide -->
          <span *ngIf="passwordVerif == false" class="input-group-addon"><i class="fa fa-exclamation-triangle" style="color:red;width:35px;"></i></span>  <!-- Si le mot de passe n'est pas vide -->
          <input  [(ngModel)] = "connexionAttempt.password"  [ngClass]="{'invalid': passwordVerif==false}" class="form-control" type="password"  (blur)="verifPassword()">
        </div>
      </div>
      <p class="col-12 col-form-label" align="left" style="color:red;">{{mdpInfo}}</p>
    </div>
    <div class="form-group row">
      <a routerLink="" (click)="RedirectToInscription()" class="link">Pas de compte ? inscrivez-vous </a>
    </div>
    <div *ngIf="connexionEncour"class="form-group row connectionAttempt">
      <img src="../../assets/img/loader.gif" style="width:20px;height:20px;"><p style="margin-left:10px;">{{infoConnexion}}</p>
    </div>
    <div class="offset-lg-1 col-lg-4">
      <button class="btn btn-block btn-envoie" (click)="verificationForm()">Connexion</button>
    </div>
  </div>
</div>
<!--Partie Connexion -->
<div class="inscription" align="center" [ngStyle]="{'height.px':heightWindows}">
  <div class="container col-lg-5 formulaire_inscription">
    <h1>Inscription</h1>
    <br><br>
    <div class="form-group row">
    </div>
    <div class="form-group row">
      <a routerLink="" (click)="RedirectToConnexion()" class="link">Retour</a>
    </div>
  </div>
</div>
